<html ng-app="localsOnly">
	<head>
		<title>Local's Only</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		

	</head>
	<body class="landing" ng-controller="InputController">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">LoC</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#" class="button">Sign In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2 id="main-title">Local's Choice</h2>
					<p id="main-city">Enter Destination</p>
					<form ng-submit="sendLocation(location)">
						<input type='text' ng-model="location" autofocus placeholder='Where to?'><br>
					</form>

					<form id='inputs'>
						<div class='input-row'>
							<input type='checkbox' name='Restaurants' ng-model='restaurants'><p>Restaurants</p>
							<input type='checkbox' name='Bars' ng-model='bars'><p>Bars</p>
							<input type='checkbox' name='Clubs' ng-model='clubs'><p>Clubs</p>
							<input type='checkbox' name='Stores' ng-model='stores'><p style="margin-right: 0">Stores</p>
						</div>
						<div class='input-row'>
							<input type='checkbox' name='Parks' ng-model='parks'><p>Parks</p>
							<input type='checkbox' name='Tourists' ng-model='tourists'><p>Tourist Activities</p>
							<input type='checkbox' name='Yoga' ng-model='yoga'><p class='yoga'>Yoga</p>
						</div>
					</form>
				</section>



			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the top choices
							<br />
							for doing stuff in {{city}}</h2>
							<p>Traveler's Guide</p>
						</header>
						<span class="image featured" id="hero"></span>
					</section>

					<section class="box special features" id="restaurants" ng-show="restaurants && data.restaurants.length>0">
						<h5>Restaurants</h5>
						<div class="features-row">
							<section>
								<img ng-src='{{data.restaurants[0].image_url}}' style="border-radius: 50%;">
								<h3>{{data.restaurants[0].name}}</h3>
								<p class='phone-number'>{{data.restaurants[0].display_phone}}</p>
								<p>{{data.restaurants[0].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.restaurants[0].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<section>
								<img ng-src='{{data.restaurants[1].image_url}}' style="border-radius: 50%;">
								<h3>{{data.restaurants[1].name}}</h3>
								<p class='phone-number'>{{data.restaurants[1].display_phone}}</p>
								<p>{{data.restaurants[1].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.restaurants[1].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row">
							<section>
								<img ng-src='{{data.restaurants[2].image_url}}' style="border-radius: 50%;">
								<h3>{{data.restaurants[2].name}}</h3>
								<p class='phone-number'>{{data.restaurants[2].display_phone}}</p>
								<p>{{data.restaurants[2].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.restaurants[2].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<section>
								<img ng-src='{{data.restaurants[3].image_url}}' style="border-radius: 50%;">
								<h3>{{data.restaurants[3].name}}</h3>
								<p class='phone-number'>{{data.restaurants[3].display_phone}}</p>
								<p>{{data.restaurants[3].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.restaurants[3].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section ng-show="clubs && data.club.length>0">
						<h5>Clubs</h5>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.club[0].image_url}}'>
									<h3>{{data.club[0].name}}</h3>
									<p class='phone-number'>{{data.club[0].display_phone}}</p>
									<p>{{data.club[0].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.club[0].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.club[1].image_url}}'>
									<h3>{{data.club[1].name}}</h3>
									<p class='phone-number'>{{data.club[1].display_phone}}</p>
									<p>{{data.club[1].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.club[1].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
						</div>
					</section>




					<section class="box special features" ng-show="stores && data.store.length>0">
						<h5>Stores</h5>
						<div class="features-row">
							<section>
								<img ng-src='{{data.store[0].image_url}}' style="border-radius: 50%;">
								<h3>{{data.store[0].name}}</h3>
								<p class='phone-number'>{{data.store[0].display_phone}}</p>
								<p>{{data.store[0].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.store[0].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<section>
								<img ng-src='{{data.store[1].image_url}}' style="border-radius: 50%;">
								<h3>{{data.store[1].name}}</h3>
								<p class='phone-number'>{{data.store[1].display_phone}}</p>
								<p>{{data.store[1].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.store[1].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section ng-show="bars && data.bar.length>0">
						<h5>Bars</h5>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.bar[0].image_url}}'>
									<h3>{{data.bar[0].name}}</h3>
									<p class='phone-number'>{{data.bar[0].display_phone}}</p>
									<p>{{data.bar[0].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.bar[0].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.bar[1].image_url}}'>
									<h3>{{data.bar[1].name}}</h3>
									<p class='phone-number'>{{data.bar[1].display_phone}}</p>
									<p>{{data.bar[1].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.bar[1].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>

						<div class="row">

							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.bar[2].image_url}}'>
									<h3>{{data.bar[2].name}}</h3>
									<p class='phone-number'>{{data.bar[2].display_phone}}</p>
									<p>{{data.bar[2].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.bar[2].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.bar[3].image_url}}'>
									<h3>{{data.bar[3].name}}</h3>
									<p class='phone-number'>{{data.bar[3].display_phone}}</p>
									<p>{{data.bar[3].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.bar[3].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
						</div>
					</section>

					<section class="box special features" ng-show="parks && data.parks.length>0">
						<h5>Parks</h5>
						<div class="features-row">
							<section>
								<img ng-src='{{data.parks[0].image_url}}' style="border-radius: 50%;">
								<h3>{{data.parks[0].name}}</h3>
								<p class='phone-number'>{{data.parks[0].display_phone}}</p>
								<p>{{data.parks[0].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.parks[0].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<section>
								<img ng-src='{{data.parks[1].image_url}}' style="border-radius: 50%;">
								<h3>{{data.parks[1].name}}</h3>
								<p class='phone-number'>{{data.parks[1].display_phone}}</p>
								<p>{{data.parks[1].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.parks[1].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section ng-show="tourists && data.tourists.length>0">
						<h5>Tourist Attractions</h5>
						<div class="row">
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.tourists[0].image_url}}'>
									<h3>{{data.tourists[0].name}}</h3>
									<p class='phone-number'>{{data.tourists[0].display_phone}}</p>
									<p>{{data.tourists[0].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.tourists[0].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.tourists[1].image_url}}'>
									<h3>{{data.tourists[1].name}}</h3>
									<p class='phone-number'>{{data.tourists[1].display_phone}}</p>
									<p>{{data.tourists[1].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.tourists[1].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>

						<div class="row">

							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.tourists[2].image_url}}'>
									<h3>{{data.tourists[2].name}}</h3>
									<p class='phone-number'>{{data.tourists[2].display_phone}}</p>
									<p>{{data.tourists[2].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.tourists[2].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>

							</div>
							<div class="6u 12u(narrower)">

								<section class="box special">
									<img ng-src='{{data.tourists[3].image_url}}'>
									<h3>{{data.tourists[3].name}}</h3>
									<p class='phone-number'>{{data.tourists[3].display_phone}}</p>
									<p>{{data.tourists[3].snippet_text}}</p>
									<ul class="actions">
										<li><a href="{{data.tourists[3].url}}" target="_blank" class="button alt">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
						</div>
					</section>

					<section class="box special features" ng-show="yoga && data.yoga.length>0">
						<h5>Yoga</h5>
						<div class="features-row">
							<section>
								<img ng-src='{{data.yoga[0].image_url}}' style="border-radius: 50%;">
								<h3>{{data.yoga[0].name}}</h3>
								<p class='phone-number'>{{data.yoga[0].display_phone}}</p>
								<p>{{data.yoga[0].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.yoga[0].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<section>
								<img ng-src='{{data.yoga[1].image_url}}' style="border-radius: 50%;">
								<h3>{{data.yoga[1].name}}</h3>
								<p class='phone-number'>{{data.yoga[1].display_phone}}</p>
								<p>{{data.yoga[1].snippet_text}}</p>
								<ul class="actions">
									<li><a href="{{data.yoga[1].url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>
				</section>



			<!-- CTA -->
				<section id="cta">

					<h2 class="colored-selection">Sign up for more access</h2>
					<p class="colored-selection">Receive weekly newsletters of the most searched city</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li><a href="http://www.alexleonetti.com">Alexander Leonetti 2015</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<!-- Libraries -->
			<script src="assets/js/lib/underscore-min.js"></script>
			<script src="assets/js/lib/jquery-min.js"></script>
			<script src="assets/js/lib/backbone-min.js"></script>

			<script src="assets/js/main.js"></script>


	</body>
</html>