<html ng-app="localsOnly">
	<head>
		<title>Local's Only</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		

	</head>
	<body class="landing" ng-controller="InputController">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">LoC</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="#" class="button">Sign In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2 id="main-title">Local's Choice</h2>
					<p id="main-city">Enter Destination</p>
					<form ng-submit="sendLocation(location)">
						<input type='text' ng-model="location" autofocus placeholder='Where to?'><br>
					</form>

					<form id='inputs'>
						<div class='input-row'>
							<input type='checkbox' name='Restaurants' ng-model='restaurants'><p>Restaurants</p>
							<input type='checkbox' name='Bars' ng-model='bars'><p>Bars</p>
							<input type='checkbox' name='Clubs' ng-model='clubs'><p>Clubs</p>
							<input type='checkbox' name='Stores' ng-model='stores'><p style="margin-right: 0">Stores</p>
						</div>
						<div class='input-row'>
							<input type='checkbox' name='Parks' ng-model='parks'><p>Parks</p>
							<input type='checkbox' name='Tourists' ng-model='tourists'><p>Tourist Activities</p>
							<input type='checkbox' name='Yoga' ng-model='yoga'><p class='yoga'>Yoga</p>
						</div>
					</form>
				</section>



			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Introducing the top choices
							<br />
							for doing stuff in {{city}}</h2>
							<p>Traveler's Guide</p>
						</header>
						<span class="image featured" id="hero"></span>
					</section>

					<section class="box special features" id="restaurants" ng-show="restaurants && data.restaurants.length>0">
						<h5>Restaurants</h5>
						<div class="features-row" >
							<section ng-repeat='restaurant in data.restaurants' ng-show='$index<2'>
								<img ng-src='{{restaurant.image_url}}' style="border-radius: 50%;">
								<h3>{{restaurant.name}}</h3>
								<p class='phone-number'>{{restaurant.display_phone}}</p>
								<p>{{restaurant.snippet_text}}</p>
								<p class='review-count'>{{restaurant.review_count}} Reviews</p>
								<img class='rating' src='{{restaurant.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{restaurant.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='restaurant in data.restaurants' ng-show='$index>1'>
								<img ng-src='{{restaurant.image_url}}' style="border-radius: 50%;">
								<h3>{{restaurant.name}}</h3>
								<p class='phone-number'>{{restaurant.display_phone}}</p>
								<p>{{restaurant.snippet_text}}</p>
								<p class='review-count'>{{restaurant.review_count}} Reviews</p>
								<img class='rating' src='{{restaurant.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{restaurant.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section class="box special features" id="bars" ng-show="bars && data.bar.length>0">
						<h5>Bars</h5>
						<div class="features-row" >
							<section ng-repeat='bar in data.bar' ng-show='$index<2'>
								<img ng-src='{{bar.image_url}}'>
								<h3>{{bar.name}}</h3>
								<p class='phone-number'>{{bar.display_phone}}</p>
								<p>{{bar.snippet_text}}</p>
								<p class='review-count'>{{bar.review_count}} Reviews</p>
								<img class='rating' src='{{bar.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{bar.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='bar in data.bar' ng-show='$index>1'>
								<img ng-src='{{bar.image_url}}'>
								<h3>{{bar.name}}</h3>
								<p class='phone-number'>{{bar.display_phone}}</p>
								<p>{{bar.snippet_text}}</p>
								<p class='review-count'>{{bar.review_count}} Reviews</p>
								<img class='rating' src='{{bar.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{bar.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>



					<section class="box special features" id="clubs" ng-show="clubs && data.club.length>0">
						<h5>Clubs</h5>
						<div class="features-row" >
							<section ng-repeat='club in data.club' ng-show='$index<2'>
								<img ng-src='{{club.image_url}}' style="border-radius: 50%;">
								<h3>{{club.name}}</h3>
								<p class='phone-number'>{{club.display_phone}}</p>
								<p>{{club.snippet_text}}</p>
								<p class='review-count'>{{club.review_count}} Reviews</p>
								<img class='rating' src='{{club.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{club.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='club in data.club' ng-show='$index>1'>
								<img ng-src='{{club.image_url}}' style="border-radius: 50%;">
								<h3>{{club.name}}</h3>
								<p class='phone-number'>{{club.display_phone}}</p>
								<p>{{club.snippet_text}}</p>
								<p class='review-count'>{{club.review_count}} Reviews</p>
								<img class='rating' src='{{club.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{club.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section class="box special features" id="stores" ng-show="stores && data.store.length>0">
						<h5>Stores</h5>
						<div class="features-row" >
							<section ng-repeat='store in data.store' ng-show='$index<2'>
								<img ng-src='{{store.image_url}}'>
								<h3>{{store.name}}</h3>
								<p class='phone-number'>{{store.display_phone}}</p>
								<p>{{store.snippet_text}}</p>
								<p class='review-count'>{{store.review_count}} Reviews</p>
								<img class='rating' src='{{store.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{store.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='store in data.store' ng-show='$index>1'>
								<img ng-src='{{store.image_url}}'>
								<h3>{{store.name}}</h3>
								<p class='phone-number'>{{store.display_phone}}</p>
								<p>{{store.snippet_text}}</p>
								<p class='review-count'>{{store.review_count}} Reviews</p>
								<img class='rating' src='{{store.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{store.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section class="box special features" id="parks" ng-show="parks && data.parks.length>0">
						<h5>Parks</h5>
						<div class="features-row" >
							<section ng-repeat='parks in data.parks' ng-show='$index<2'>
								<img ng-src='{{parks.image_url}}' style="border-radius: 50%;">
								<h3>{{parks.name}}</h3>
								<p class='phone-number'>{{parks.display_phone}}</p>
								<p>{{parks.snippet_text}}</p>
								<p class='review-count'>{{parks.review_count}} Reviews</p>
								<img class='rating' src='{{parks.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{parks.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='parks in data.parks' ng-show='$index>1'>
								<img ng-src='{{parks.image_url}}' style="border-radius: 50%;">
								<h3>{{parks.name}}</h3>
								<p class='phone-number'>{{parks.display_phone}}</p>
								<p>{{parks.snippet_text}}</p>
								<p class='review-count'>{{parks.review_count}} Reviews</p>
								<img class='rating' src='{{parks.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{parks.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section class="box special features" id="tourists" ng-show="tourists && data.tourists.length>0">
						<h5>Tourist Attractions</h5>
						<div class="features-row" >
							<section ng-repeat='tourists in data.tourists' ng-show='$index<2'>
								<img ng-src='{{tourists.image_url}}'>
								<h3>{{tourists.name}}</h3>
								<p class='phone-number'>{{tourists.display_phone}}</p>
								<p>{{tourists.snippet_text}}</p>
								<p class='review-count'>{{tourists.review_count}} Reviews</p>
								<img class='rating' src='{{tourists.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{tourists.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='tourists in data.tourists' ng-show='$index>1'>
								<img ng-src='{{tourists.image_url}}'>
								<h3>{{tourists.name}}</h3>
								<p class='phone-number'>{{tourists.display_phone}}</p>
								<p>{{tourists.snippet_text}}</p>
								<p class='review-count'>{{tourists.review_count}} Reviews</p>
								<img class='rating' src='{{tourists.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{tourists.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

					<section class="box special features" id="yoga" ng-show="yoga && data.yoga.length>0">
						<h5>Yoga</h5>
						<div class="features-row" >
							<section ng-repeat='yoga in data.yoga' ng-show='$index<2'>
								<img ng-src='{{yoga.image_url}}' style="border-radius: 50%;">
								<h3>{{yoga.name}}</h3>
								<p class='phone-number'>{{yoga.display_phone}}</p>
								<p>{{yoga.snippet_text}}</p>
								<p class='review-count'>{{yoga.review_count}} Reviews</p>
								<img class='rating' src='{{yoga.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{yoga.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="features-row" >
							<section ng-repeat='yoga in data.yoga' ng-show='$index>1'>
								<img ng-src='{{yoga.image_url}}' style="border-radius: 50%;">
								<h3>{{yoga.name}}</h3>
								<p class='phone-number'>{{yoga.display_phone}}</p>
								<p>{{yoga.snippet_text}}</p>
								<p class='review-count'>{{yoga.review_count}} Reviews</p>
								<img class='rating' src='{{yoga.rating_img_url_small}}'>
								<ul class="actions">
									<li><a href="{{yoga.url}}" target="_blank" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</section>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2 class="colored-selection">Sign up for more access</h2>
					<p class="colored-selection">Receive weekly newsletters of the most searched city</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li><a href="http://www.alexleonetti.com">Alexander Leonetti 2015</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<!-- Libraries -->
			<script src="assets/js/lib/underscore-min.js"></script>
			<script src="assets/js/lib/jquery-min.js"></script>
			<script src="assets/js/lib/backbone-min.js"></script>

			<script src="assets/js/main.js"></script>


	</body>
</html>